---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Catalog from '../components/Catalog.astro';
import CartAndModal from '../components/CartAndModal.astro';
---

<script src="../scripts/cartStore.js" defer></script>

<div class="w-full text-slate-100 selection:bg-blue-600 selection:text-white antialiased overflow-clip relative min-h-screen bg-slate-950">
  
  <div class="absolute top-[20%] left-[-10%] w-[500px] h-[500px] bg-blue-600/10 rounded-full blur-[150px] pointer-events-none z-0"></div>
  <div class="absolute top-[60%] right-[-10%] w-[600px] h-[600px] bg-cyan-600/10 rounded-full blur-[150px] pointer-events-none z-0"></div>

  <Navbar />

  <main class="pb-16 relative z-10 bg-transparent">
    <Hero />

    <Services />

    <Catalog />
  </main>

  <CartAndModal />

</div>

<script src="../scripts/cartStore.js"></script>