---
// src/layouts/Layout.astro

// 1. Importamos la fuente local desde Fontsource
import '@fontsource/space-grotesk';
---
<!DOCTYPE html>
<html lang="es" class="scroll-smooth bg-gradient-to-b from-slate-950 via-slate-900 to-slate-950 bg-fixed">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AhoraPrende | Servicio Técnico y Celulares</title>
    
    </head>
  <body class="bg-transparent min-h-screen">
    <slot /> 
  </body>
</html>